#product {
	height: 88%;
}

.product-header {
  color: #BEC5D6;
  font-family: Gabriola;	  
  text-shadow: 2px 3px 3px #127E7A;
  padding-top: 5px;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.wrap {
  width: 1150px; /* fixed width, centered in viewport */
  left: -575px;
  margin-left: 50%;
  position: relative;
}

.wrap > .product-header {
  color: rgb(221, 142, 22);
  font-size: 4em;
  text-align: center;
  padding-bottom: 3px;
}

#showcase {
  height: 570px;
  overflow: visible !important;
  visibility: hidden;
}

#showcase img {
  cursor: pointer;
}

.card {
  padding: 8px;
  text-align: center;
  background-color: rgba(232, 227, 226, 0.9);
  border-radius: 12px;
  margin-top: -20px;
}

.card .nama-wayang {
  margin: 0 0 7px 0;
  color: #DD8E16;
  font-family: Gabriola;
}

.nav {
  padding-left: 6px;
  color: rgba(232, 227, 226, 0.8);
  font: bold 2.5em "Lucida Grande";
  text-align: center;
  text-shadow: 0px 1px 0px #F5F5F5;
  background: rgba(221, 142, 22, 0.7);
  cursor: pointer;
  position: absolute;
  top: 25%;
}

.nav:active,
.nav.down {
  background: rgba(221, 142, 22, 1);
  border: solid 2px rgba(0, 0, 0, 1);
}

.nav.left {
  left: 0; 
  -webkit-border-radius: 12px 5px 5px 12px;
  -moz-border-radius: 12px 5px 5px 12px;
  border-radius: 12px 5px 5px 12px;
}

.nav.right {
  right: 0;
  -webkit-border-radius: 5px 12px 12px 5px;
  -moz-border-radius: 5px 12px 12px 5px;
  border-radius: 5px 12px 12px 5px;
}

.btn-product {
	position: relative;
	margin-left: 45.5%;
	margin-top: 39%;
}
