
/*************** Testimonials ***************/

.touch-slider .owl-controls.clickable .owl-buttons div:hover {
	//background-color: #00afd1;
}

.touch-carousel .owl-controls.clickable .owl-buttons div:hover {
	//background-color: #00afd1;
}

.testimonials-carousel .owl-controls.clickable .owl-buttons div{
    background: none;
    font-size: 40px;
}

.testimonials-carousel .owl-controls.clickable .owl-buttons .owl-next {
    position: absolute;
    right: 0;
    top: 50%;
    z-index: 1000;
}

.testimonials-carousel .owl-controls.clickable .owl-buttons .owl-prev {
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 1000;
}

.owl-theme .owl-controls .owl-page.active{
    padding: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}
.owl-theme .owl-controls .owl-page.active span {
    background: #fff;
}


/*-----------------------------------------*/
/* Start Team Section
/*-----------------------------------------*/


.team-member-section {
    padding-top: 80px;
    padding-bottom: 100px;
}



#team-section  .our-team {
    padding-top: 20px;
}

#team-section .team-member img{
    width: 99%;
    height: auto;
    text-align: center;
}

.team-member .team-details {
    position: absolute;
    top: 7.3px;
    left: 7px;
    width: 94.5%;
    height: 80.4%;
    color: #fff;
    padding: 0 2px;
    opacity: 0;
    text-align: center;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.team-member:hover .team-details {
    opacity: 1;
    -webkit-animation: bounceIn;
    animation: bounceIn;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
}

.team-member .team-details h4 {
    padding-top: 30%;
    font-size: 22px;
    font-family: 'Oswald', sans-serif;
}

.team-member .team-details li {
    display: inline-block;
    padding-top: 20px;
}

.team-member .team-details li a {
    padding: 8px 12px;
    background: #fff;
    border: 1px solid #fff;
    color: #666;
    font-size: 16px;
}

.team-member .team-details li:hover a {
    background: transparent;
    border: 1px solid #ddd;
    color: #fff;
}

.owl-controls {
    margin-top: 35px !important;
}



/*-----------------------------------------*/
/* Start Progress Bar Section
/*-----------------------------------------*/




@-webkit-keyframes rotatee { 100% { -webkit-transform: rotate(360deg) }}
@keyframes rotatee {
	100% {
		transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes bouncee {
	0%, 100% { -webkit-transform: scale(0.0) }
	50% { -webkit-transform: scale(1.0) }
}

@keyframes bouncee {
	0%, 100% {
		transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
      }
}


